.card {
  margin-top: 20px;
}

.card, .card-header, .card-body, .card-footer {
  border: none;
}

.cartImage {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  margin-right: 10px;
}

.cartItemDetails {
  margin-left: 30px;
}

.quantity {
  margin-left: 10px;
  width: 20%;
  padding: 0px 5px;
}

.plusIcon {
  margin-left: 10px;
}

.minusIcon, .plusIcon {
  margin-top: 5px;
  border: 1px solid;
  padding: 4px;
  border-radius: 30%;
  width: 10%;
}

.card-body > * {
  margin-top: 30px;
  /* padding-bottom: 10px;
  border-bottom: 1px solid; */
}

.addMoreItemButton, .addMoreItemButton:hover {
  text-decoration: none;
  color: white;
}

.wd-100{
  width: 100% !important;
}


.display-flex {
  display: flex !important;
}

.display-none {
  display: none !important;
}

.removeIcon {
  height: 0%;
}

.card-header {
  background-color: white;
}

.ml-10 {
  margin-left: 10px;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

thead {
 background-color: #1abc9c;
 color: white;
}

th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

th:nth-last-child(1) {
  border-radius: 0px 5px 0px 0px;
}

td > input {
  width: 40px !important;
  height: 30px !important;
  padding: 5px !important;
}

td a {
  font-size: 12px;
  color: rgb(248, 115, 115) !important;
}

.cart-item-name {
  margin-bottom: 0px;
}

td small {
  font-size: 14px;
}

.border-top-green {
  border-top: 1px solid #1abc9c;
}

td:last-child, th:last-child {
  text-align: right;
}

.btn-secondary {
  background-color: #1abc9c !important;
  border: none;
}