body {
  font-family: “Open Sans”, Arial, sans-serif;
  color: black;
}

.navbar {
  border-radius: 0px;
  background-color: #4a2e2e !important;
  border-color: none !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-inverse {
  background-color: #4a2e2e !important;
  border-color: none !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .active {
  background: #cf9f9fb8;
  border-radius: 4px;
} */

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff !important;
  background-color: #cf9f9fb8 !important;
  border-radius: 10px;
}