@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.menu-area{
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.menus-area {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  padding: 100px 0;
  color: #fff;
}
.menus-area:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  opacity: .95;
  left: 0;
  top: 0;
}
.section-title {
  text-align: center;
  margin-bottom: 60px;
  color: #1abc9c !important;
}
.section-title h4 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 60px;
 
}
.menus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-items {
  flex-basis: 32%;
}
.menu-item {
  flex-basis: 100%;
}
.double{
  display: flex;
  justify-content: space-between;
}
.double-menu{
  width:48%;
}
.title {
  background-color: #1abc9c !important;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.single-menu {
  background-color: #333;
  border: 1px solid #ddd;
  padding: 25px;
  text-align: center;
  position: relative;
  transition: .3s;
  margin-bottom: 30px;
}
.single-menu span {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #1abc9c !important;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px 0 0 0;
}
.single-menu img {
  max-width: 80px;
  border: 1px solid #ddd;
  padding: 3px;
  transition: .3s;
}
.single-menu h4 {
  border-bottom: 1px dashed #ddd;
  margin: 10px 0;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 24px;
}
.single-menu a {
  display: inline-block;
  color: #1abc9c !important;
  text-transform: uppercase;
  margin-top: 25px;
}
.single-menu:hover img {
  border-radius: 50%;
}
.single-menu:hover {
  border-color: #1abc9c !important;
  border-radius: 7px;
}

@media only screen and (max-width: 767px) {
  .container{
    width: 350px;
  }
  .section-title h4 {
    font-size: 34px;
    line-height: 50px;
  }
  .menu-items {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}


.category {
 
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
  padding: 2rem 9%;
  font-size: 62.5%;

  text-decoration: none;
  text-transform: capitalize;
  
}

.category .box {
  padding: 2rem;
  text-align: center;
  border-radius: 1.75rem;
  background: #f7f6f9;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.category .box:hover {
  transform: translateY(-4px);
  background: #d8d5e2;
}

.category .box img {
  height: 5rem;
 
}

.category .box h3 {
  font-size: 1rem;
  color: #130f40;
  
  
}

.heading{
  color: #1abc9c !important;
  text-align: center;
  font-size: 1.5rem;
 
  
}

.banner .row-banner {
  background: url(../images/Menu/row-banner.png) no-repeat;
  height: 25rem;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner .row-banner .content span {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  color:#1abc9c ;
}

.banner .row-banner .content h3 {
  font-size: 6rem;
  color: #1abc9c ;
  text-transform: uppercase;
}

.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #1abc9c ;
}

.banner .row-banner .btn {
  color:  #1abc9c;
  border-radius: 1.2rem;
  background: linear-gradient(135deg, #025746 , #1abc9c );
}

.banner .row-banner .btn:hover {
  background: linear-gradient(135deg, #1abc9c , #025746);
}

.banner .grid-banner {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem; */
}

.banner .grid-banner .grid {
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  height: 25rem;
}

.banner .grid-banner .grid:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 3rem;
}

.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}

.banner .grid-banner .grid .content.center span {
  color:  #1abc9c;
}

.banner .grid-banner .grid .content.center h3 {
  color:  #1abc9c;
}

.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color:  #1abc9c;
}

.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #1abc9c;
  padding-top: .5rem;
}

.banner .grid-banner .grid .btn {
  border-radius: 1.3rem;
  background: linear-gradient(135deg, #025746,  #1abc9c);
}

.banner .grid-banner .grid .btn:hover {
  background: linear-gradient(135deg,  #1abc9c, #025746);
}



.wrap {
  display: inline-block;
    margin-top: 40px;
    margin-left: 290px;
}

.decor {
  
  background-size: 50px 25%;;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

.drop {
  position: relative;
  background: #1abc9c;
 
  text-align: center;
  letter-spacing: 1px;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 
h5{
  color:  #1abc9c;
}

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}